Repository jet-lab/jet-v2, pull requests merged in 2023-07, with the labels that each got.

#811 fix(ui): correct the x range if there's orders on 1 side
  apps/react-app/src/components/fixed-term/shared/fixed-term-market-chart.tsx
Labels: fixed-term, ui

#712 feat(client): lookup table support
  Cargo.lock
  libraries/rust/client/Cargo.toml
  libraries/rust/client/src/client.rs
  libraries/rust/client/src/margin.rs
  libraries/rust/client/src/state.rs
  libraries/rust/client/src/state/dexes.rs
  libraries/rust/client/src/state/dexes/openbook.rs
  libraries/rust/client/src/state/dexes/whirlpool.rs
  libraries/rust/client/src/state/lookup_tables.rs
  libraries/rust/client/src/swaps.rs
  libraries/rust/environment/Cargo.toml
  libraries/rust/environment/src/builder.rs
  libraries/rust/environment/src/builder/fixed_term.rs
  libraries/rust/environment/src/builder/margin.rs
  libraries/rust/environment/src/builder/margin_pool.rs
  libraries/rust/environment/src/builder/swap.rs
  libraries/rust/environment/src/client_config.rs
  libraries/rust/environment/src/lib.rs
  libraries/rust/environment/src/lookup_tables.rs
  libraries/rust/instructions/src/fixed_term/builder.rs
  libraries/rust/instructions/src/margin.rs
  libraries/rust/instructions/src/margin_swap.rs
  libraries/rust/instructions/src/openbook.rs
  libraries/rust/margin/src/lookup_tables.rs
  libraries/rust/margin/src/tx_builder/user.rs
  libraries/rust/program-common/src/programs.rs
  libraries/rust/simulation/src/runtime.rs
  libraries/rust/simulation/src/solana_rpc_api.rs
  libraries/rust/solana-client/src/rpc.rs
  libraries/rust/solana-client/src/transaction.rs
  libraries/rust/testing/Cargo.toml
  libraries/rust/testing/src/lib.rs
  libraries/rust/testing/src/openbook.rs
  libraries/rust/tools/Cargo.toml
  libraries/rust/tools/src/lib.rs
  libraries/rust/tools/src/lookup_tables.rs
  packages/margin/src/fixed-term/api.ts
  tests/hosted/Cargo.toml
  tests/hosted/src/context.rs
  tests/hosted/src/context/admin.rs
  tests/hosted/src/margin.rs
  tests/hosted/src/runtime.rs
  tests/hosted/src/test_user.rs
  tests/hosted/tests/client_fixed_term.rs
  tests/hosted/tests/client_swap.rs
  tests/hosted/tests/combined.rs
  tests/hosted/tests/route_swap.rs
  tests/hosted/tests/whirlpool.rs
  tools/jet-alt-registry-client/src/actions.rs
Labels: margin, client

#822 updating files and link title
  apps/react-app/public/img/guide/page_3_sidebar/bg@1x.png
  apps/react-app/public/img/guide/page_3_sidebar/bg@2x.png
  apps/react-app/public/img/guide/page_3_sidebar/bg@3x.png
  apps/react-app/src/components/fixed-term/shared/user-guide/index.tsx
Labels: ui

#819 allow a constant amount of equity loss in a liquidation
  libraries/rust/program-common/src/number_128.rs
  programs/margin/src/instructions/liquidate_begin.rs
  programs/margin/src/lib.rs
Labels: margin, program, liquidator
