Repository jet-lab/jet-v2, pull requests merged in 2023-05, with the labels that each got.

#686 Add autoroll field to events
  libraries/rust/client/src/fixed_term.rs
  libraries/rust/instructions/src/fixed_term/builder.rs
  libraries/rust/instructions/src/fixed_term/ix/margin_user.rs
  packages/margin/src/fixed-term/types/JetFixedTerm.ts
  programs/fixed-term/src/lib.rs
  programs/fixed-term/src/margin/events.rs
  programs/fixed-term/src/margin/instructions/configure_auto_roll.rs
  programs/fixed-term/src/margin/instructions/mod.rs
  programs/fixed-term/src/margin/instructions/toggle_auto_roll_deposit.rs
  programs/fixed-term/src/margin/instructions/toggle_auto_roll_loan.rs
  programs/fixed-term/src/margin/repay.rs
  programs/fixed-term/src/margin/state.rs
  programs/fixed-term/src/orderbook/instructions/sell_tickets_order.rs
  programs/fixed-term/src/orderbook/state/borrow.rs
  programs/fixed-term/src/orderbook/state/lend.rs
  programs/fixed-term/src/tickets/events.rs
  programs/fixed-term/src/tickets/instructions/stake_tickets.rs
  programs/fixed-term/src/tickets/state.rs
Labels: fixed-term, program

#691 Setup and override the lookup authority on localnet
  .gitignore
  Anchor.toml
  libraries/rust/environment/src/client_config.rs
  tests/scripts/anchor.sh
  tests/scripts/on_localnet.sh
  tools/ctl/src/actions/global.rs
  tools/ctl/src/lib.rs
  tools/jet-alt-registry-client/src/lib.rs
Labels: client

#697 update liquidator test key
  tests/hosted/src/bin/load.rs
  tests/hosted/src/load.rs
  tests/hosted/tests/load.rs
  tests/scripts/on_localnet.sh
Labels: tests

#698 add explanation text to fixed term order panels and make graphs heigh…
  apps/react-app/src/components/fixed-term/borrow-entry/borrow-now.tsx
  apps/react-app/src/components/fixed-term/borrow-entry/request-loan.tsx
  apps/react-app/src/components/fixed-term/lend-entry/lend-now.tsx
  apps/react-app/src/components/fixed-term/lend-entry/offer-loan.tsx
  apps/react-app/src/styles/App.less
Labels: fixed-term, ui

#631 upgrades: anchor 0.27, rust 1.68, etc.
  .github/workflows/check.yml
  Anchor.toml
  Cargo.lock
  check
  libraries/rust/client/Cargo.toml
  libraries/rust/instructions/Cargo.toml
  libraries/rust/margin/Cargo.toml
  libraries/rust/program-common/Cargo.toml
  libraries/rust/program-common/src/lib.rs
  libraries/rust/program-common/src/pod.rs
  libraries/rust/program-proc-macros/src/mem.rs
  libraries/rust/solana-client/Cargo.toml
  libraries/rust/static-program-registry/Cargo.toml
  packages/margin/Cargo.toml
  programs/airspace/Cargo.toml
  programs/control/Cargo.toml
  programs/fixed-term/Cargo.toml
  programs/fixed-term/src/control/instructions/initialize_market.rs
  programs/fixed-term/src/control/state.rs
  programs/fixed-term/src/margin/origination_fee.rs
  programs/fixed-term/src/orderbook/state/mod.rs
  programs/fixed-term/src/tickets/instructions/redeem_deposit.rs
  programs/margin-pool/Cargo.toml
  programs/margin-swap/Cargo.toml
  programs/margin/Cargo.toml
  programs/margin/src/state/account.rs
  programs/margin/src/util.rs
  programs/metadata/Cargo.toml
  programs/test-service/Cargo.toml
  rust-toolchain
  tests/hosted/Cargo.toml
  tests/hosted/src/load.rs
  tests/hosted/tests/fixed_term.rs
  tests/mock-adapter/Cargo.toml
  tools/crank-service/Cargo.toml
  tools/ctl/Cargo.toml
  tools/ctl/src/anchor_ix_parser.rs
  tools/jet-alt-registry-client/Cargo.toml
  tools/oracle-mirror/Cargo.toml
Labels: program

#710 jetctl bugfix: use correct airspace authority (set_liquidator)
  tools/ctl/src/actions/margin.rs
Labels: bug, client, liquidator

#708 geoblocking stub
  apps/react-app/src/App.tsx
  apps/react-app/src/components/misc/GeoBanned.tsx
  apps/react-app/src/components/modals/GeobannedModal.tsx
  apps/react-app/src/components/modals/Modals.tsx
  apps/react-app/src/state/settings/localization/localization.ts
  apps/react-app/src/state/user/accounts.tsx
  apps/react-app/src/styles/App.less
  apps/react-app/src/views/AccountsView.tsx
  apps/react-app/src/views/FixedBorrowView.tsx
  apps/react-app/src/views/FixedLendView.tsx
  apps/react-app/src/views/PoolsView.tsx
  apps/react-app/src/views/SwapsView.tsx
  apps/react-app/webpack.config.js
Labels: ui

#719 swap: orca whirlpools
  Cargo.lock
  deps/whirlpool.so
  libraries/rust/client/src/state/spl_swap.rs
  libraries/rust/client/src/swaps.rs
  libraries/rust/environment/Cargo.toml
  libraries/rust/environment/src/builder.rs
  libraries/rust/environment/src/builder/swap.rs
  libraries/rust/environment/src/client_config.rs
  libraries/rust/environment/src/lib.rs
  libraries/rust/environment/src/programs.rs
  libraries/rust/instructions/Cargo.toml
  libraries/rust/instructions/src/lib.rs
  libraries/rust/instructions/src/orca.rs
  libraries/rust/instructions/src/test_service.rs
  libraries/rust/margin/Cargo.toml
  libraries/rust/margin/src/swap/mod.rs
  libraries/rust/margin/src/swap/whirlpool.rs
  libraries/rust/program-common/src/lib.rs
  libraries/rust/program-common/src/programs.rs
  libraries/rust/simulation/Cargo.toml
  libraries/rust/simulation/src/runtime.rs
  libraries/rust/solana-client/Cargo.toml
  libraries/rust/solana-client/src/rpc.rs
  libraries/rust/solana-client/src/rpc/native.rs
  libraries/rust/testing/Cargo.toml
  libraries/rust/testing/src/lib.rs
  libraries/rust/testing/src/whirlpool.rs
  programs/margin-swap/Cargo.toml
  programs/margin-swap/src/instructions.rs
  programs/margin-swap/src/instructions/orca_whirlpool_swap.rs
  programs/margin-swap/src/instructions/route_swap.rs
  programs/margin-swap/src/lib.rs
  programs/test-service/Cargo.toml
  programs/test-service/src/instructions/swaps/mod.rs
  programs/test-service/src/instructions/swaps/orca_whirlpool_create_config.rs
  programs/test-service/src/lib.rs
  tests/hosted/Cargo.toml
  tests/hosted/src/context.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/src/runtime.rs
  tests/hosted/tests/client_fixed_term.rs
  tests/hosted/tests/combined.rs
  tests/hosted/tests/whirlpool.rs
  tests/scripts/on_localnet.sh
  tools/oracle-mirror/Cargo.toml
  tools/oracle-mirror/src/lib.rs
Labels: program, swaps, tests

#721 include governance related programs in repo
  Cargo.lock
  programs/auth/Cargo.toml
  programs/auth/Xargo.toml
  programs/auth/src/events.rs
  programs/auth/src/lib.rs
  programs/rewards/Cargo.toml
  programs/rewards/Xargo.toml
  programs/rewards/src/events.rs
  programs/rewards/src/instructions.rs
  programs/rewards/src/instructions/airdrop_add_recipients.rs
  programs/rewards/src/instructions/airdrop_claim.rs
  programs/rewards/src/instructions/airdrop_close.rs
  programs/rewards/src/instructions/airdrop_create.rs
  programs/rewards/src/instructions/airdrop_finalize.rs
  programs/rewards/src/instructions/award_close.rs
  programs/rewards/src/instructions/award_create.rs
  programs/rewards/src/instructions/award_release.rs
  programs/rewards/src/instructions/award_revoke.rs
  programs/rewards/src/instructions/distribution_close.rs
  programs/rewards/src/instructions/distribution_create.rs
  programs/rewards/src/instructions/distribution_release.rs
  programs/rewards/src/lib.rs
  programs/rewards/src/state.rs
  programs/rewards/src/state/airdrop.rs
  programs/rewards/src/state/award.rs
  programs/rewards/src/state/distribution.rs
  programs/staking/Cargo.toml
  programs/staking/Xargo.toml
  programs/staking/src/events.rs
  programs/staking/src/instructions.rs
  programs/staking/src/instructions/add_stake.rs
  programs/staking/src/instructions/cancel_unbond.rs
  programs/staking/src/instructions/close_stake_account.rs
  programs/staking/src/instructions/init_pool.rs
  programs/staking/src/instructions/init_stake_account.rs
  programs/staking/src/instructions/unbond_stake.rs
  programs/staking/src/instructions/withdraw_bonded.rs
  programs/staking/src/instructions/withdraw_unbonded.rs
  programs/staking/src/lib.rs
  programs/staking/src/spl_addin.rs
  programs/staking/src/state.rs
Labels: program

#700 Refactor `AutoRollConfig` and add price bounds to `FixedTermMarket` orders
  libraries/rust/client/src/fixed_term.rs
  libraries/rust/instructions/src/fixed_term/builder.rs
  libraries/rust/instructions/src/fixed_term/ix/margin_user.rs
  libraries/rust/instructions/src/fixed_term/ix/user.rs
  packages/margin/src/fixed-term/api.ts
  packages/margin/src/fixed-term/fixedTerm.ts
  packages/margin/src/fixed-term/types/JetFixedTerm.ts
  packages/margin/src/wasm-src/bindings/fixed_term/instructions.rs
  programs/fixed-term/src/errors.rs
  programs/fixed-term/src/margin/instructions/configure_auto_roll.rs
  programs/fixed-term/src/margin/instructions/margin_lend_order.rs
  programs/fixed-term/src/margin/instructions/margin_redeem_deposit.rs
  programs/fixed-term/src/margin/instructions/margin_sell_tickets_order.rs
  programs/fixed-term/src/orderbook/instructions/lend_order.rs
  programs/fixed-term/src/orderbook/instructions/sell_tickets_order.rs
  programs/fixed-term/src/orderbook/state/mod.rs
  programs/fixed-term/src/tickets/instructions/exchange_tokens.rs
  programs/fixed-term/src/tickets/instructions/redeem_deposit.rs
  programs/fixed-term/src/tickets/instructions/stake_tickets.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/tests/fixed_term.rs
Labels: fixed-term, program

#695 Swap/openbook referral fees + test service
  Anchor.toml
  Cargo.lock
  config/localnet/exchanges.toml
  libraries/rust/environment/src/builder/swap.rs
  libraries/rust/instructions/Cargo.toml
  libraries/rust/instructions/src/test_service.rs
  libraries/rust/margin/src/swap/openbook_swap.rs
  libraries/rust/margin/src/tx_builder/user.rs
  libraries/rust/program-common/src/programs.rs
  programs/margin-swap/src/instructions/openbook_swap.rs
  programs/margin-swap/src/instructions/route_swap.rs
  programs/margin-swap/src/lib.rs
  programs/test-service/Cargo.toml
  programs/test-service/src/instructions/swaps/mod.rs
  programs/test-service/src/instructions/swaps/openbook_market_cancel_orders.rs
  programs/test-service/src/instructions/swaps/openbook_market_create.rs
  programs/test-service/src/instructions/swaps/openbook_market_make.rs
  programs/test-service/src/instructions/swaps/spl_swap_pool_balance.rs
  programs/test-service/src/instructions/swaps/utils.rs
  programs/test-service/src/lib.rs
  programs/test-service/src/state/swaps.rs
  tests/hosted/Cargo.toml
  tests/hosted/src/openbook.rs
  tests/hosted/src/runtime.rs
  tests/hosted/tests/route_swap.rs
  tests/hosted/tests/test_service.rs
  tests/scripts/on_localnet.sh
  tools/ctl/Cargo.toml
  tools/ctl/src/client.rs
  tools/ctl/src/serum.rs
  tools/oracle-mirror/src/lib.rs
Labels: program, swaps

#724 Update depth-chart.tsx
  apps/react-app/src/components/charts/depth-chart.tsx
Labels: fixed-term, ui

#730 fixed-term: security fixes
  Cargo.lock
  libraries/rust/instructions/src/fixed_term/derive.rs
  libraries/rust/instructions/src/fixed_term/ix/user.rs
  programs/fixed-term/src/control/instructions/authorize_crank.rs
  programs/fixed-term/src/lib.rs
  programs/fixed-term/src/tickets/instructions/redeem_deposit.rs
  programs/fixed-term/src/tickets/instructions/stake_tickets.rs
  tests/hosted/tests/fixed_term.rs
Labels: bug, fixed-term, program

#731 add missing airspace check for revoke_crank
  programs/fixed-term/src/control/instructions/revoke_crank.rs
Labels: bug, fixed-term, program

#732 refactor client interface
  Cargo.lock
  libraries/rust/client-native/Cargo.toml
  libraries/rust/client-native/src/lib.rs
  libraries/rust/client-web/Cargo.toml
  libraries/rust/client-web/src/error.rs
  libraries/rust/client-web/src/fixed_term.rs
  libraries/rust/client-web/src/lib.rs
  libraries/rust/client-web/src/margin.rs
  libraries/rust/client-web/src/margin_pool.rs
  libraries/rust/client-web/src/network_adapter.rs
  libraries/rust/client-web/src/wallet.rs
  libraries/rust/client/src/client.rs
  libraries/rust/client/src/fixed_term.rs
  libraries/rust/client/src/lib.rs
  libraries/rust/client/src/margin.rs
  libraries/rust/client/src/margin_pool.rs
  libraries/rust/client/src/state.rs
  libraries/rust/client/src/state/fixed_term.rs
  libraries/rust/client/src/state/margin.rs
  libraries/rust/client/src/state/margin_pool.rs
  libraries/rust/client/src/state/oracles.rs
  libraries/rust/client/src/state/spl_swap.rs
  libraries/rust/client/src/state/tokens.rs
  libraries/rust/client/src/swaps.rs
  libraries/rust/client/src/test_service.rs
  libraries/rust/client/src/wallet.rs
  libraries/rust/environment/src/builder.rs
  libraries/rust/environment/src/builder/fixed_term.rs
  libraries/rust/environment/src/builder/global.rs
  libraries/rust/environment/src/builder/margin.rs
  libraries/rust/environment/src/builder/margin_pool.rs
  libraries/rust/environment/src/builder/swap.rs
  libraries/rust/environment/src/client_config.rs
  libraries/rust/solana-client/Cargo.toml
  libraries/rust/solana-client/src/lib.rs
  libraries/rust/solana-client/src/network.rs
  libraries/rust/solana-client/src/rpc.rs
  libraries/rust/solana-client/src/rpc/native.rs
  libraries/rust/solana-client/src/rpc/wasm.rs
  libraries/rust/solana-client/src/transaction.rs
  tests/hosted/Cargo.toml
  tests/hosted/src/actions.rs
  tests/hosted/src/context.rs
  tests/hosted/src/context/margin.rs
  tests/hosted/src/util.rs
  tests/hosted/tests/client_fixed_term.rs
  tests/hosted/tests/whirlpool.rs
  tools/ctl/Cargo.toml
  tools/ctl/src/actions/apply.rs
  tools/ctl/src/actions/global.rs
  tools/ctl/src/client.rs
Labels: client
