Repository jet-lab/jet-v2, pull requests merged in 2023-01, with the labels that each got.

#534 Rent returns to PDA payers
  libraries/rust/instructions/src/fixed_term.rs
  programs/fixed-term/src/margin/instructions/margin_borrow_order.rs
  programs/fixed-term/src/margin/instructions/repay.rs
  programs/fixed-term/src/margin/state.rs
  programs/fixed-term/src/orderbook/instructions/consume_events/handler.rs
  programs/fixed-term/src/orderbook/instructions/lend_order.rs
  programs/fixed-term/src/tickets/instructions/redeem_deposit.rs
  programs/fixed-term/src/tickets/instructions/stake_tickets.rs
  programs/fixed-term/src/tickets/state.rs
  tests/hosted/src/fixed_term.rs
Labels: fixed-term, program

#538 Settle users with crank
  libraries/rust/margin/src/fixed_term/event_consumer.rs
  libraries/rust/margin/src/fixed_term/mod.rs
  libraries/rust/margin/src/fixed_term/settler.rs
  libraries/rust/margin/src/margin_integrator.rs
  libraries/rust/margin/src/util/mod.rs
  libraries/rust/margin/src/util/no_dupe_queue.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/tests/fixed_term.rs
  tools/crank-service/src/main.rs
Labels: fixed-term

#550 settle fixes
  .github/workflows/check.yml
  check
  libraries/rust/instructions/src/fixed_term.rs
  libraries/rust/margin/src/fixed_term/settler.rs
  packages/margin/src/fixed-term/fixedTerm.ts
  packages/margin/src/fixed-term/types/JetFixedTerm.ts
  programs/fixed-term/src/errors.rs
  programs/fixed-term/src/margin/events.rs
  programs/fixed-term/src/margin/instructions/initialize_margin_user.rs
  programs/fixed-term/src/margin/instructions/margin_borrow_order.rs
  programs/fixed-term/src/margin/instructions/settle.rs
  programs/fixed-term/src/margin/state.rs
  programs/margin/src/state/account.rs
  tests/hosted/src/bin/launch_fixed_term_market.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/src/setup_helper.rs
  tests/hosted/tests/fixed_term.rs
  tools/ctl/src/actions/margin.rs
Labels: fixed-term, program

#545 client: introduce new rust library
  Cargo.lock
  libraries/rust/client-native/Cargo.toml
  libraries/rust/client-native/src/lib.rs
  libraries/rust/client/Cargo.toml
  libraries/rust/client/src/client.rs
  libraries/rust/client/src/config.rs
  libraries/rust/client/src/fixed_term.rs
  libraries/rust/client/src/fixed_term/interest_pricing.rs
  libraries/rust/client/src/fixed_term/util.rs
  libraries/rust/client/src/lib.rs
  libraries/rust/client/src/margin.rs
  libraries/rust/client/src/margin_pool.rs
  libraries/rust/client/src/programs.rs
  libraries/rust/client/src/solana/mod.rs
  libraries/rust/client/src/solana/transaction.rs
  libraries/rust/client/src/state.rs
  libraries/rust/client/src/state/fixed_term.rs
  libraries/rust/client/src/state/margin.rs
  libraries/rust/client/src/state/margin_pool.rs
  libraries/rust/client/src/state/oracles.rs
  libraries/rust/client/src/state/spl_swap.rs
  libraries/rust/client/src/state/tokens.rs
  libraries/rust/client/src/swaps.rs
  libraries/rust/client/src/test_service.rs
  libraries/rust/client/src/util/data.rs
  libraries/rust/client/src/util/mod.rs
  libraries/rust/instructions/Cargo.toml
  libraries/rust/instructions/src/fixed_term.rs
  libraries/rust/instructions/src/margin_pool.rs
  libraries/rust/margin/src/test_service.rs
  libraries/rust/margin/src/tx_builder/airspace.rs
  libraries/rust/simulation/src/lib.rs
  libraries/rust/simulation/src/runtime.rs
  tests/hosted/Cargo.toml
  tests/hosted/src/actions.rs
  tests/hosted/src/context.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/src/lib.rs
  tests/hosted/src/runtime.rs
  tests/hosted/src/util.rs
  tests/hosted/tests/client_fixed_term.rs
  tests/hosted/tests/client_sanity.rs
  tests/hosted/tests/combined.rs
Labels: client

#502 Restrict permission to refresh position metadata
  Cargo.lock
  libraries/rust/instructions/Cargo.toml
  libraries/rust/instructions/src/margin.rs
  libraries/rust/margin/src/tx_builder/airspace.rs
  libraries/rust/margin/src/tx_builder/user.rs
  libraries/rust/program-common/src/lib.rs
  libraries/rust/program-common/src/serialization.rs
  programs/margin/src/events.rs
  programs/margin/src/instructions/configure/configure_adapter.rs
  programs/margin/src/instructions/configure/configure_permit.rs
  programs/margin/src/instructions/configure/mod.rs
  programs/margin/src/instructions/positions/refresh_position_config.rs
  programs/margin/src/instructions/refresh_position_metadata.rs
  programs/margin/src/lib.rs
  programs/margin/src/seeds.rs
  programs/margin/src/state/config.rs
  tests/hosted/src/bin/launch_fixed_term_market.rs
  tests/hosted/src/context.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/src/margin.rs
  tests/hosted/src/runtime.rs
  tests/hosted/src/setup_helper.rs
  tests/hosted/tests/sanity.rs
  tools/ctl/src/actions/margin.rs
Labels: margin, program
