Repository jet-lab/jet-v2, pull requests merged in 2023-06, with the labels that each got.

#679 Add a servicer for auto-rolling `TermLoan` and `TermDeposit` accounts
  libraries/rust/instructions/src/fixed_term/builder.rs
  libraries/rust/instructions/src/fixed_term/ix/margin_user.rs
  libraries/rust/margin/src/fixed_term/auto_roll_servicer.rs
  libraries/rust/margin/src/fixed_term/mod.rs
  programs/fixed-term/src/margin/instructions/auto_roll_borrow_order.rs
  programs/fixed-term/src/margin/instructions/auto_roll_lend_order.rs
  programs/fixed-term/src/margin/state.rs
  programs/fixed-term/src/tickets/state.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/tests/fixed_term.rs
Labels: fixed-term, ui

#743 events: remove margin position events
  programs/margin/src/adapter.rs
  programs/margin/src/events.rs
  programs/margin/src/instructions/accounting_invoke.rs
  programs/margin/src/instructions/adapter_invoke.rs
  programs/margin/src/instructions/close_position.rs
  programs/margin/src/instructions/liquidator_invoke.rs
  programs/margin/src/instructions/positions/create_deposit_position.rs
  programs/margin/src/instructions/positions/refresh_position_config.rs
  programs/margin/src/instructions/positions/transfer_deposit.rs
  programs/margin/src/instructions/register_position.rs
  programs/margin/src/instructions/update_position_balance.rs
Labels: margin, program, data

#749 cranks: misc fixes
  libraries/rust/margin/src/fixed_term/auto_roll_servicer.rs
  libraries/rust/margin/src/fixed_term/mod.rs
  libraries/rust/margin/src/util/queue_processor.rs
  libraries/rust/solana-client/src/rpc.rs
  libraries/rust/solana-client/src/rpc/native.rs
  tools/crank-service/src/client.rs
  tools/crank-service/src/consumer.rs
Labels: fixed-term

#753 Fix fixed term valuation
  apps/react-app/src/components/misc/AccountSnapshot/SnapshotBody.tsx
  packages/margin/src/margin/accountPosition.ts
  packages/margin/src/margin/marginAccount.ts
  packages/store/src/api.ts
  ts-types/blackbox/fixed-term.d.ts
Labels: bug, fixed-term, ui

#754 tools/alt: add pool and fixed term programs to registry
  tools/jet-alt-registry-client/src/addresses.rs
Labels: devops

#758 reduce default orderbook account sizes
  libraries/rust/environment/src/builder/fixed_term.rs
Labels: fixed-term

#760 margin-swap: change program id
  .github/e2e-docker-compose.yml
  .github/workflows/devnet.yaml
  Anchor.toml
  programs/margin-swap/src/lib.rs
  tests/scripts/on_localnet.sh
Labels: program, swaps

#750 dep: Update lookup table registry
  Cargo.lock
  tools/jet-alt-registry-client/src/actions.rs
  tools/jet-alt-registry-client/src/client.rs
Labels: client

#766 cleanup fixmes
  programs/margin/src/instructions/positions/refresh_position_config.rs
  programs/margin/src/state/config.rs
  tools/ctl/src/actions/margin.rs
Labels: margin, program

#762 ui: show fixed term in nav
  apps/react-app/src/components/misc/Navbar/NavLinks.tsx
Labels: fixed-term, ui

#782 crank: fix auto-roll servicing to ignore non-auto-roll items
  libraries/rust/margin/src/fixed_term/auto_roll_servicer.rs
Labels: fixed-term

#783 update audit reports
  audit_reports/2022-08-halborn.pdf
  audit_reports/2022-08-ottersec.pdf
  audit_reports/2023-06-ottersec.pdf
Labels: documentation

#786 fix(fixed-term-crank): ignore auto rolling items below min order size
  libraries/rust/margin/src/fixed_term/auto_roll_servicer.rs
  libraries/rust/margin/src/fixed_term/mod.rs
  tests/hosted/tests/fixed_term.rs
Labels: fixed-term

#789 fix(ctl): check right address for set-liquidator
  tools/ctl/src/actions/margin.rs
Labels: client, liquidator

#792 account history query typo fix
  apps/react-app/src/components/tables/FullAccountHistory.tsx
Labels: fixed-term, data

#795 fix(ui): remove tz check from geoban condition
  apps/react-app/src/state/settings/localization/localization.ts
Labels: ui

#798 ui: actually settle fixed term market
  packages/margin/src/fixed-term/api.ts
  packages/margin/src/fixed-term/fixedTerm.ts
  packages/margin/src/idls/jetFixedTerm.ts
  ts-types/idls/jetFixedTerm.d.ts
Labels: fixed-term, ui

#801 fix(deps): upgrade bitflags
  Cargo.lock
  programs/fixed-term/Cargo.toml
  programs/fixed-term/src/margin/state.rs
  programs/fixed-term/src/orderbook/state/mod.rs
  programs/fixed-term/src/tickets/state.rs
  programs/margin/Cargo.toml
  programs/margin/src/state/account/positions.rs
  programs/margin/src/state/config.rs
  programs/rewards/Cargo.toml
Labels: program
