Repository jet-lab/jet-v2, pull requests merged in 2023-03, with the labels that each got.

#610 fix output token select on swaps page
  apps/react-app/cypress/e2e/fixed-term.cy.ts
  apps/react-app/src/components/fixed-term/shared/debt-table/debt-table.tsx
  apps/react-app/src/components/misc/TokenInput/TokenInput.tsx
  check
  tests/scripts/anchor.sh
Labels: swaps, ui

#618 Remove sollet wallet
  apps/react-app/package.json
  apps/react-app/src/App.tsx
  yarn.lock
Labels: ui

#616 Add a standalone vault for Fixed-Term Market fee collection
  libraries/rust/instructions/src/fixed_term.rs
  packages/margin/src/fixed-term/fixedTerm.ts
  packages/margin/src/fixed-term/types/JetFixedTerm.ts
  programs/fixed-term/src/control/instructions/initialize_market.rs
  programs/fixed-term/src/control/instructions/withdraw_fees.rs
  programs/fixed-term/src/control/state.rs
  programs/fixed-term/src/lib.rs
  programs/fixed-term/src/margin/instructions/margin_borrow_order.rs
  programs/fixed-term/src/orderbook/instructions/consume_events/accounts.rs
  programs/fixed-term/src/orderbook/instructions/consume_events/handler.rs
  programs/fixed-term/src/orderbook/state.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/tests/fixed_term.rs
Labels: fixed-term, program

#617 UI fixes 02 03 23
  .github/e2e-docker-compose.yml
  .github/workflows/check.yml
  apps/react-app/cypress.config.ts
  apps/react-app/cypress/e2e/fixed-term.cy.ts
  apps/react-app/cypress/e2e/pools.cy.ts
  apps/react-app/cypress/support/e2e.ts
  apps/react-app/package.json
  apps/react-app/src/components/fixed-term/borrow-entry/borrow-now.tsx
  apps/react-app/src/components/fixed-term/borrow-entry/request-loan.tsx
  apps/react-app/src/components/fixed-term/lend-entry/lend-now.tsx
  apps/react-app/src/components/fixed-term/lend-entry/offer-loan.tsx
  apps/react-app/src/components/fixed-term/shared/charts/line-chart.tsx
  apps/react-app/src/components/fixed-term/shared/debt-table/debt-table.tsx
  apps/react-app/src/components/fixed-term/shared/debt-table/open-borrows-table.tsx
  apps/react-app/src/components/fixed-term/shared/debt-table/open-deposits-table.tsx
  apps/react-app/src/components/fixed-term/shared/debt-table/posted-order-table.tsx
  apps/react-app/src/components/fixed-term/shared/fixed-term-market-chart.tsx
  apps/react-app/src/components/fixed-term/shared/market-selector-buttons.tsx
  apps/react-app/src/components/misc/Navbar/NavLinks.tsx
  apps/react-app/src/components/misc/TokenInput/TokenInput.tsx
  apps/react-app/src/components/modals/NewAccountModal.tsx
  apps/react-app/src/state/actions/actions.ts
  apps/react-app/src/state/fixed-term/fixed-term-market-sync.ts
  apps/react-app/src/state/pools/pools.tsx
  apps/react-app/src/styles/App.less
  apps/react-app/src/styles/jet-antd.less
  apps/react-app/src/utils/actions/tokenInput.ts
  package.json
  packages/margin/src/margin/marginAccount.ts
  packages/store/package.json
  packages/store/src/api.ts
  packages/store/src/events.ts
  packages/store/src/index.ts
  packages/store/src/protocol/client.ts
  packages/store/src/protocol/connection-adapter.ts
  packages/store/src/slices/accounts.ts
  packages/store/src/slices/pools.ts
  packages/store/src/slices/settings.ts
  packages/store/src/websocket/index.ts
  packages/wasm/package.json
  tests/scripts/anchor.sh
  turbo.json
Labels: fixed-term, ui

#612 update docker image in github workflow
  .github/workflows/check.yml
  check
  programs/fixed-term/src/lib.rs
  programs/margin-swap/src/instructions/route_swap.rs
  programs/margin/src/adapter.rs
  rust-toolchain
Labels: devops

#551 Add instruction to roll over matured `TermDeposit` accounts
  .prettierignore
  Cargo.lock
  libraries/rust/client/src/fixed_term.rs
  libraries/rust/client/src/state/fixed_term.rs
  libraries/rust/instructions/src/fixed_term.rs
  libraries/rust/margin/Cargo.toml
  libraries/rust/margin/src/fixed_term/event_consumer.rs
  packages/margin/src/fixed-term/fixedTerm.ts
  packages/margin/src/wasm-src/core/orderbook.rs
  programs/fixed-term/Cargo.toml
  programs/fixed-term/src/errors.rs
  programs/fixed-term/src/lib.rs
  programs/fixed-term/src/margin/instructions/auto_roll_lend_order.rs
  programs/fixed-term/src/margin/instructions/margin_borrow_order.rs
  programs/fixed-term/src/margin/instructions/margin_lend_order.rs
  programs/fixed-term/src/margin/instructions/margin_redeem_deposit.rs
  programs/fixed-term/src/margin/instructions/margin_sell_tickets_order.rs
  programs/fixed-term/src/margin/instructions/mod.rs
  programs/fixed-term/src/margin/state.rs
  programs/fixed-term/src/orderbook/instructions/consume_events/accounts.rs
  programs/fixed-term/src/orderbook/instructions/consume_events/handler.rs
  programs/fixed-term/src/orderbook/instructions/consume_events/queue_iterator.rs
  programs/fixed-term/src/orderbook/instructions/lend_order.rs
  programs/fixed-term/src/orderbook/instructions/sell_tickets_order.rs
  programs/fixed-term/src/orderbook/state/event_queue.rs
  programs/fixed-term/src/orderbook/state/lend.rs
  programs/fixed-term/src/orderbook/state/mod.rs
  programs/fixed-term/src/serialization.rs
  programs/fixed-term/src/tickets/instructions/redeem_deposit.rs
  programs/fixed-term/src/tickets/instructions/stake_tickets.rs
  programs/fixed-term/src/tickets/state.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/tests/fixed_term.rs
Labels: fixed-term, program

#603 Take a liquidation fee when swapping
  Cargo.lock
  libraries/rust/instructions/src/margin_swap.rs
  libraries/rust/margin/src/tx_builder/user.rs
  libraries/rust/program-common/src/lib.rs
  programs/margin-swap/Cargo.toml
  programs/margin-swap/src/instructions/route_swap.rs
  programs/margin-swap/src/lib.rs
  programs/margin/src/instructions/liquidate_begin.rs
  programs/margin/src/instructions/liquidator_invoke.rs
  programs/margin/src/lib.rs
  programs/margin/src/state/account.rs
  tests/hosted/src/test_user.rs
  tests/hosted/tests/liquidate.rs
  tests/hosted/tests/liquidate_with_swap.rs
Labels: program, liquidator

#620 Modify `TermLoan` to allow calculation of annualized rates
  Cargo.lock
  libraries/rust/program-common/Cargo.toml
  libraries/rust/program-common/src/interest_pricing.rs
  libraries/rust/program-common/src/lib.rs
  packages/margin/src/wasm-src/core/orderbook.rs
  packages/margin/src/wasm-src/orderbook/methods.rs
  packages/margin/src/wasm-src/orderbook/mod.rs
  programs/fixed-term/src/margin/instructions/margin_borrow_order.rs
  programs/fixed-term/src/margin/state.rs
  programs/fixed-term/src/orderbook/instructions/consume_events/handler.rs
  programs/fixed-term/src/orderbook/state/mod.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/tests/fixed_term.rs
Labels: fixed-term, program

#599 program: Add OpenBook as a swap venue
  .dockerignore
  .gitignore
  Cargo.lock
  Dockerfile
  deps/openbook.so
  deps/serum_dex_v3.so
  libraries/rust/instructions/src/lib.rs
  libraries/rust/instructions/src/margin_swap.rs
  libraries/rust/instructions/src/openbook.rs
  libraries/rust/margin/src/swap/mod.rs
  libraries/rust/margin/src/swap/openbook_swap.rs
  libraries/rust/margin/src/swap/saber_swap.rs
  libraries/rust/margin/src/swap/spl_swap.rs
  libraries/rust/margin/src/tx_builder/user.rs
  programs/margin-swap/Cargo.toml
  programs/margin-swap/src/instructions.rs
  programs/margin-swap/src/instructions/openbook_accounts.rs
  programs/margin-swap/src/instructions/openbook_swap.rs
  programs/margin-swap/src/instructions/route_swap.rs
  programs/margin-swap/src/lib.rs
  tests/hosted/Cargo.toml
  tests/hosted/src/lib.rs
  tests/hosted/src/margin.rs
  tests/hosted/src/openbook.rs
  tests/hosted/src/runtime.rs
  tests/hosted/src/saber_swap.rs
  tests/hosted/tests/route_swap.rs
  tests/scripts/localnet_lib.sh
Labels: program, swaps

#626 add migration path for existing accounts to a default airspace
  libraries/rust/instructions/src/margin.rs
  libraries/rust/program-common/src/lib.rs
  libraries/rust/simulation/src/runtime.rs
  programs/margin/src/instructions/configure/configure_account_airspace.rs
  programs/margin/src/instructions/configure/mod.rs
  programs/margin/src/lib.rs
  tests/hosted/src/runtime.rs
  tests/hosted/tests/data/pre-airspace-account
  tests/hosted/tests/margin_account_airspace_migration.rs
  tools/ctl/src/actions/margin.rs
  tools/ctl/src/lib.rs
Labels: margin, program

#630 jetctl custom proposal inspection for governance
  Cargo.lock
  programs/control/src/instructions/configure_margin_pool.rs
  tools/ctl/Cargo.toml
  tools/ctl/src/anchor_ix_parser.rs
  tools/ctl/src/governance.rs
  tools/ctl/src/ix_inspectors.rs
  tools/ctl/src/lib.rs
Labels: program

#613 fixed term liquidation support
  Cargo.lock
  libraries/rust/client/src/fixed_term.rs
  libraries/rust/client/src/state/fixed_term.rs
  libraries/rust/environment/src/builder/fixed_term.rs
  libraries/rust/environment/src/client_config.rs
  libraries/rust/instructions/src/fixed_term.rs
  libraries/rust/instructions/src/fixed_term/builder.rs
  libraries/rust/instructions/src/fixed_term/derive.rs
  libraries/rust/instructions/src/fixed_term/ix/admin.rs
  libraries/rust/instructions/src/fixed_term/ix/crank.rs
  libraries/rust/instructions/src/fixed_term/ix/margin_user.rs
  libraries/rust/instructions/src/fixed_term/ix/mod.rs
  libraries/rust/instructions/src/fixed_term/ix/user.rs
  libraries/rust/instructions/src/fixed_term/mod.rs
  libraries/rust/instructions/src/margin.rs
  libraries/rust/margin/Cargo.toml
  libraries/rust/margin/src/fixed_term/mod.rs
  libraries/rust/margin/src/fixed_term/settler.rs
  libraries/rust/margin/src/lib.rs
  libraries/rust/margin/src/margin_integrator.rs
  libraries/rust/margin/src/solana/mod.rs
  libraries/rust/margin/src/solana/transaction.rs
  libraries/rust/margin/src/tx_builder/airspace.rs
  libraries/rust/margin/src/tx_builder/fixed_term.rs
  libraries/rust/margin/src/tx_builder/user.rs
  libraries/rust/margin/src/util/asynchronous.rs
  libraries/rust/margin/src/util/data.rs
  libraries/rust/margin/src/util/mod.rs
  libraries/rust/simulation/Cargo.toml
  libraries/rust/simulation/src/lib.rs
  libraries/rust/simulation/src/solana_rpc_api.rs
  libraries/rust/solana-client/Cargo.toml
  libraries/rust/solana-client/src/lib.rs
  libraries/rust/solana-client/src/transaction.rs
  libraries/rust/solana-client/src/util.rs
  libraries/rust/solana-client/src/util/data.rs
  libraries/rust/solana-client/src/util/keypair.rs
  libraries/rust/solana-client/src/util/mod.rs
  libraries/rust/solana-client/src/util/pubkey.rs
  tests/hosted/src/bin/launch_fixed_term_market.rs
  tests/hosted/src/context.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/src/load.rs
  tests/hosted/src/margin.rs
  tests/hosted/src/openbook.rs
  tests/hosted/src/runtime.rs
  tests/hosted/src/saber_swap.rs
  tests/hosted/src/setup_helper.rs
  tests/hosted/tests/client_fixed_term.rs
  tests/hosted/tests/fixed_term.rs
  tests/hosted/tests/pool_overpayment.rs
  tests/hosted/tests/rounding.rs
  tests/hosted/tests/route_swap.rs
  tests/hosted/tests/sanity.rs
  tests/hosted/tests/swap.rs
  tools/ctl/src/actions/fixed_term.rs
  tools/ctl/src/bin/launch_fixed_term_market_devnet.rs
Labels: fixed-term, program, liquidator

#607 ci: add the swap api to CI services
  .github/e2e-docker-compose.yml
  .github/workflows/check.yml
Labels: devops

#634 @jet-lab/ui package setup
  apps/react-app/package.json
  apps/react-app/postcss.config.js
  apps/react-app/src/index.tsx
  apps/react-app/src/main.css
  apps/react-app/src/styles/App.less
  apps/react-app/tailwind.config.js
  apps/react-app/webpack.config.js
  package.json
  packages/ui/package.json
  packages/ui/src/components/carousel.tsx
  packages/ui/src/components/modal.tsx
  packages/ui/src/components/typography.tsx
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  yarn.lock
Labels: ui

#636 reset input fields after tx and remove incorrect liquidity calc, + switching wallet
  apps/react-app/src/components/fixed-term/borrow-entry/borrow-now.tsx
  apps/react-app/src/components/fixed-term/borrow-entry/request-loan.tsx
  apps/react-app/src/components/fixed-term/lend-entry/lend-now.tsx
  apps/react-app/src/components/fixed-term/lend-entry/offer-loan.tsx
  apps/react-app/src/state/user/accounts.tsx
Labels: fixed-term, ui

#645 Make RouteSwapped fields pub
  programs/margin-swap/src/lib.rs
Labels: program, swaps

#640 misc improvements + liquidator support
  libraries/rust/client/src/margin.rs
  libraries/rust/client/src/util/data.rs
  libraries/rust/client/src/util/mod.rs
  libraries/rust/environment/src/builder.rs
  libraries/rust/environment/src/builder/fixed_term.rs
  libraries/rust/environment/src/builder/global.rs
  libraries/rust/instructions/src/fixed_term/builder.rs
  libraries/rust/instructions/src/margin.rs
  libraries/rust/margin/src/get_state/margin_state.rs
  libraries/rust/margin/src/get_state/mod.rs
  libraries/rust/margin/src/get_state/rpc_query.rs
  libraries/rust/margin/src/lib.rs
  libraries/rust/margin/src/margin_integrator.rs
  libraries/rust/margin/src/refresh/deposit.rs
  libraries/rust/margin/src/refresh/fixed_term.rs
  libraries/rust/margin/src/refresh/mod.rs
  libraries/rust/margin/src/refresh/pool.rs
  libraries/rust/margin/src/refresh/position_refresher.rs
  libraries/rust/margin/src/solana/transaction.rs
  libraries/rust/margin/src/tx_builder/fixed_term.rs
  libraries/rust/margin/src/tx_builder/invoke_context.rs
  libraries/rust/margin/src/tx_builder/mod.rs
  libraries/rust/margin/src/tx_builder/user.rs
  libraries/rust/simulation/src/lib.rs
  libraries/rust/simulation/src/runtime.rs
  libraries/rust/simulation/src/solana_rpc_api.rs
  libraries/rust/solana-client/src/lib.rs
  libraries/rust/solana-client/src/signature.rs
  libraries/rust/solana-client/src/transaction.rs
  libraries/rust/solana-client/src/util/mod.rs
  programs/fixed-term/src/margin/events.rs
  programs/fixed-term/src/margin/instructions/refresh_position.rs
  programs/fixed-term/src/margin/state.rs
  programs/margin/src/adapter.rs
  programs/margin/src/instructions/positions/refresh_deposit_position.rs
  programs/test-service/src/lib.rs
  tests/hosted/src/actions.rs
  tests/hosted/src/context.rs
  tests/hosted/src/context/admin.rs
  tests/hosted/src/context/margin.rs
  tests/hosted/src/context/margin_account.rs
  tests/hosted/src/context/token.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/src/load.rs
  tests/hosted/src/margin.rs
  tests/hosted/src/runtime.rs
  tests/hosted/src/setup_helper.rs
  tests/hosted/src/test_user.rs
  tests/hosted/tests/client_fixed_term.rs
  tests/hosted/tests/fixed_term.rs
  tests/hosted/tests/liquidate.rs
  tests/hosted/tests/lookup_table.rs
  tests/hosted/tests/pool_overpayment.rs
  tests/hosted/tests/pools.rs
  tests/hosted/tests/rounding.rs
  tests/hosted/tests/route_swap.rs
  tests/hosted/tests/sanity.rs
  tests/hosted/tests/swap.rs
  tools/ctl/src/actions/apply.rs
Labels: program, liquidator
