Repository jet-lab/jet-v2, pull requests merged in 2023-04, with the labels that each got.

#655 cleanup valuation and count open lend orders towards assets
  packages/margin/src/margin/marginAccount.ts
  yarn.lock
Labels: fixed-term

#656 show copiable field with market address in order entry panel and supp…
  apps/react-app/src/components/fixed-term/borrow-entry/index.tsx
  apps/react-app/src/components/fixed-term/lend-entry/index.tsx
  apps/react-app/src/components/fixed-term/shared/debt-table/open-borrows-table.tsx
  apps/react-app/src/components/fixed-term/shared/debt-table/open-deposits-table.tsx
  apps/react-app/src/components/fixed-term/shared/debt-table/posted-order-table.tsx
  apps/react-app/src/components/misc/CopyableField.tsx
  apps/react-app/src/styles/App.less
Labels: fixed-term, ui

#653 User guide UI
  apps/react-app/cypress/e2e/fixed-term.cy.ts
  apps/react-app/public/img/guide/page_1_sidebar/bg@1x.png
  apps/react-app/public/img/guide/page_1_sidebar/bg@2x.png
  apps/react-app/public/img/guide/page_1_sidebar/bg@3x.png
  apps/react-app/public/img/guide/page_2_sidebar/bg@1x.png
  apps/react-app/public/img/guide/page_2_sidebar/bg@2x.png
  apps/react-app/public/img/guide/page_2_sidebar/bg@3x.png
  apps/react-app/public/img/guide/page_3_sidebar/bg@1x.png
  apps/react-app/public/img/guide/page_3_sidebar/bg@2x.png
  apps/react-app/public/img/guide/page_3_sidebar/bg@3x.png
  apps/react-app/public/img/guide/page_4_sidebar/pools@1x.png
  apps/react-app/public/img/guide/page_4_sidebar/pools@2x.png
  apps/react-app/public/img/guide/page_4_sidebar/pools@3x.png
  apps/react-app/public/img/guide/page_4_sidebar/swaps@1x.png
  apps/react-app/public/img/guide/page_4_sidebar/swaps@2x.png
  apps/react-app/public/img/guide/page_4_sidebar/swaps@3x.png
  apps/react-app/src/components/fixed-term/borrow-entry/index.tsx
  apps/react-app/src/components/fixed-term/lend-entry/index.tsx
  apps/react-app/src/components/fixed-term/shared/user-guide/index.tsx
  packages/margin/src/margin/marginClient.ts
  packages/ui/src/components/carousel.tsx
  packages/ui/src/components/modal.tsx
  packages/ui/src/components/typography.tsx
  packages/ui/src/index.ts
Labels: fixed-term, ui

#642 Allow a service to 'auto roll' a `TermLoan`
  libraries/rust/client/src/fixed_term.rs
  libraries/rust/instructions/src/fixed_term/builder.rs
  libraries/rust/instructions/src/fixed_term/ix/margin_user.rs
  programs/fixed-term/src/errors.rs
  programs/fixed-term/src/lib.rs
  programs/fixed-term/src/margin/instructions/auto_roll_borrow_order.rs
  programs/fixed-term/src/margin/instructions/auto_roll_lend_order.rs
  programs/fixed-term/src/margin/instructions/configure_auto_roll.rs
  programs/fixed-term/src/margin/instructions/margin_borrow_order.rs
  programs/fixed-term/src/margin/instructions/mod.rs
  programs/fixed-term/src/margin/instructions/repay.rs
  programs/fixed-term/src/margin/instructions/stop_auto_roll_deposit.rs
  programs/fixed-term/src/margin/instructions/stop_auto_roll_loan.rs
  programs/fixed-term/src/margin/mod.rs
  programs/fixed-term/src/margin/repay.rs
  programs/fixed-term/src/margin/state.rs
  programs/fixed-term/src/orderbook/instructions/consume_events/handler.rs
  programs/fixed-term/src/orderbook/state/borrow.rs
  programs/fixed-term/src/orderbook/state/lend.rs
  programs/fixed-term/src/orderbook/state/mod.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/tests/fixed_term.rs
Labels: fixed-term, program

#661 adds backpack wallet
  apps/react-app/public/img/wallets/backpack.png
  apps/react-app/src/App.tsx
Labels: ui

#664 UI small wording changes
  apps/react-app/cypress/e2e/fixed-term.cy.ts
  apps/react-app/src/components/fixed-term/lend-entry/lend-now.tsx
  apps/react-app/src/components/fixed-term/shared/charts/line-chart.tsx
  apps/react-app/src/components/fixed-term/shared/fixed-term-market-chart.tsx
Labels: fixed-term, ui

#676 logging improvements
  check
  libraries/rust/program-common/Cargo.toml
  libraries/rust/program-common/src/lib.rs
  libraries/rust/program-common/src/log.rs
  libraries/rust/simulation/src/lib.rs
  libraries/rust/simulation/src/log.rs
  libraries/rust/simulation/src/runtime.rs
  programs/fixed-term/src/margin/repay.rs
Labels: program

#675 tools: add a lookup registry client
  Cargo.lock
  tools/jet-alt-registry-client/Cargo.toml
  tools/jet-alt-registry-client/src/actions.rs
  tools/jet-alt-registry-client/src/addresses.rs
  tools/jet-alt-registry-client/src/client.rs
  tools/jet-alt-registry-client/src/lib.rs
  tools/jet-alt-registry-client/src/main.rs
Labels: program

#670 add wasm instructions and account deserialization
  Cargo.lock
  apps/react-app/cypress.config.ts
  apps/react-app/cypress/support/actions.ts
  apps/react-app/package.json
  apps/react-app/src/components/fixed-term/borrow-entry/borrow-now.tsx
  apps/react-app/src/components/fixed-term/borrow-entry/request-loan.tsx
  apps/react-app/src/components/fixed-term/lend-entry/lend-now.tsx
  apps/react-app/src/components/fixed-term/lend-entry/offer-loan.tsx
  apps/react-app/src/components/fixed-term/shared/autoroll-checks.tsx
  apps/react-app/src/components/fixed-term/shared/autoroll-modal.tsx
  apps/react-app/src/styles/App.less
  libraries/rust/client/src/fixed_term.rs
  libraries/rust/client/src/state/fixed_term.rs
  libraries/rust/instructions/src/fixed_term/builder.rs
  libraries/rust/instructions/src/fixed_term/ix/margin_user.rs
  libraries/rust/margin/src/fixed_term/event_consumer.rs
  packages/margin/Cargo.toml
  packages/margin/src/fixed-term/api.ts
  packages/margin/src/fixed-term/fixedTerm.ts
  packages/margin/src/fixed-term/utils.ts
  packages/margin/src/utils/sendAll.ts
  packages/margin/src/wasm-src/bindings/fixed_term/accounts.rs
  packages/margin/src/wasm-src/bindings/fixed_term/instructions.rs
  packages/margin/src/wasm-src/bindings/fixed_term/mod.rs
  packages/margin/src/wasm-src/bindings/mod.rs
  packages/margin/src/wasm-src/bindings/serialization.rs
  packages/margin/src/wasm-src/bindings/test.rs
  packages/margin/src/wasm-src/lib.rs
  packages/store/src/api.ts
  packages/store/src/slices/settings.ts
  packages/ui/src/components/modal.tsx
  programs/fixed-term/src/control/state.rs
  programs/fixed-term/src/margin/events.rs
  programs/fixed-term/src/margin/instructions/repay.rs
  programs/fixed-term/src/margin/instructions/settle.rs
  programs/fixed-term/src/margin/state.rs
  programs/fixed-term/src/orderbook/instructions/consume_events/queue_iterator.rs
  programs/fixed-term/src/orderbook/state/lend.rs
  tests/hosted/src/fixed_term.rs
  tests/hosted/tests/fixed_term.rs
Labels: fixed-term, program

#681 Legal wording updates
  apps/react-app/src/components/fixed-term/shared/debt-table/debt-table.tsx
  apps/react-app/src/components/fixed-term/shared/market-selector-actions.ts
  apps/react-app/src/components/modals/DisclaimerModal.tsx
  apps/react-app/src/state/settings/localization/languages/Jet_UI_EN.json
Labels: ui

#680 stop using deprecated Pubkey::new
  libraries/rust/margin/src/swap/openbook_swap.rs
  programs/margin-swap/src/instructions/openbook_swap.rs
Labels: program, swaps

#683 Test using extra_hosts in docker compose
  .github/e2e-docker-compose.yml
Labels: devops
